In [2]:
from sklearn.datasets import load_iris
from sklearn import tree
from matplotlib import pyplot as plt
import pandas as pd

In [4]:
df=load_iris(as_frame=True).frame

In [5]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [8]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [9]:
df['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [13]:
for t in df['target'].unique():
    print(f'==Class {t}==')
    display(df.query(f'target=={t}').describe().loc[['min','mean','max'], :])

==Class 0==

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
min,4.300,2.300,1.000,0.100,0.0
mean,5.006,3.428,1.462,0.246,0.0
max,5.800,4.400,1.900,0.600,0.0

==Class 1==

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
min,4.900,2.00,3.00,1.000,1.0
mean,5.936,2.77,4.26,1.326,1.0
max,7.000,3.40,5.10,1.800,1.0

==Class 2==

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
min,4.900,2.200,4.500,1.400,2.0
mean,6.588,2.974,5.552,2.026,2.0
max,7.900,3.800,6.900,2.500,2.0

In [15]:
fetures=df.drop(['target'],axis=1)
target=df['target']
print(fetures.shape)
print(target.shape)

(150, 4)
(150,)